# Ignore Node.js dependencies
node_modules/
build/

# Ignore Python dependencies
venv/
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.lock
NTUSER.DAT
*.exe
*.zip

# Ignore editor history files
.history/
